* {
    font-family: Calibri;
    font-size: 1em;
    margin: 0px;
}

p {
    text-align: justify;
}

#nome {
    text-align: center;
}

p > img {
    width: 15px;
    height: 15px;
}

h1 {
    font-size: 1.1em;
    margin: 10px 5px 5px 5px;
}

h2 {
    margin: 10px 5px 5px 5px;
}

h3 {
    margin: 5px 5px 5px 5px;
}

p {
    margin: 5px 5px 5px 5px;
}

li > p{
    margin: 0px;
}